header {
    display: flex;
    align-items: center;
    height: 8vh;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Comfortaa', sans-serif;
}

header img {
    height: 90%;
    width: auto;
}

/* images with class "game" */
img.game {
  width: 256px;
  height: 256px;
  object-fit: cover;
  background-color: #fff; /* white background for transparent images */
  border-radius: 51.2px;
  margin: 4px;
  border: 4px solid #000;
  display: inline-block;
}

/* title */
header h1 {
    margin-left: 10px;
    color: white;
    font-size: 1.5em;
}
