header {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
    font-family: 'Comfortaa', sans-serif; /* Apply Comfortaa font */
}

header img {
    height: 100px; /* Adjust as necessary */
    width: auto;
}

header h1 {
    margin-left: 20px;
    color: white; /* Ensure the text is visible against the background */
    font-family: 'Comfortaa', sans-serif; /* Ensure the font is applied here as well */
}
